.live {
    width: 60%;
    margin: .5rem auto auto;
    display: grid;
    grid-template-rows: 1fr .2fr 1fr;
    grid-gap: 1rem;
}

.live > .section-a {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
}

.live > .section-a > .player{
    width: 200px;
}

.live >.section-a >.player >div:first-child{
    opacity: 1;

}
.live > .section-a > .player > section > div:first-child {
    display: grid;
    align-items: end;

    font-size: 1.2rem;
}

.warning{
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
    text-align: start;
}

.live > .section-a > .player > section {
    display: grid;
background: rgba(0,0,0,.6);
    grid-gap: 1.3rem;
    grid-template-rows: auto;

}

.live > .section-a > .player > section > section:nth-child(2n) > img {
    width: 35px;
    opacity: .7;
}

.live > .section-a > .player > section > .stats {
    display: grid;
    margin:1.3rem 0 0 ;
    align-items: end;

    grid-gap: .2rem;
    grid-template-columns: repeat(3, 1fr);
}

.live > .section-a > .player > section >.stats  div{
    font-size: .9rem;
}

.live > .section-a > .player > section > .stats > section {
    text-align: center;
    font-size: 1rem;
}

.live > .section-a > .player > section :nth-child(4n) {
    display: flex;
    justify-content: center;
    color: green;
    font-size: 1.7rem;
}

.live > .section-a > .player > section > div:last-child {
    background: rgba(0, 0, 0, .9);
    display: flex;
    font-size: 1.4rem;

    justify-content: center;
    align-items: center;
}


.live .section-a > section {
    border: 2px solid dodgerblue;
    display: grid;
    position: relative;
    height: 360px;
}



.live .section-a > section > section > section:nth-child(2n) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 25%;
    text-align: center;
}


.live .section-a > section img {
    width: 40px;
}
.circle {
    color: transparent;
    background: linear-gradient(to right, dodgerblue 0%,dodgerblue 50%, red 50%, red 100%);
    border-radius: 50%;
}
.live .section-a > section > div:first-child, .live .section-c > section > div:first-child {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .7 !important;
    z-index: -1;
    height: 100%;
    position: absolute;
}


.live > .section-b {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(170px,auto));
}

.live >.section-b >.b1 ,.live >.section-b >.b3 {
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: repeat(auto-fit,minmax(60px,auto));
}

.live >.section-b >.b1 >img{
    border: dodgerblue 2px solid;
    width: 50px;

}

.live >.section-b >.b3 >img{
    border: red 1px solid;

    width: 50px;

}

.live >.section-b >.b2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

.live > .section-b >img {
    width: 40px;
}



@media (max-width: 700px) {
    .circle{
        transform: rotate(90deg);
    }
}
