.filter{
 width: 100%;
}


.filter-box {
    display: grid;
    grid-gap: 1rem;
    background: #0E1A2F;
}

  .filter-box > div {
    font-size: 1.3rem;
    text-align: start;
    text-indent: .4rem;
}

 .filter-box > section:nth-child(2n) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/* input section*/
 .filter-box > section:nth-child(2n) > section {
    display: grid;
    border: 2px solid white;
    margin-right: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

 .filter-box > section:nth-child(2n) > section >i{
    font-size: .7rem;
}

 .filter-box > section:nth-child(2n) > section > input {
    background: transparent;
    color: white;
    text-align: center;
    border: 0;
    border-left: 2px solid white;
}

 .filter-box > section:nth-child(2n) > section > input::placeholder {
    color: white;
    text-align: center;
}


 .filter-box > section:nth-child(3n) {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

 .filter-box > section:nth-child(3n) > section {
    display: grid;
    justify-items: center;
}

 .filter-box > section:nth-child(3n) > section >select{
    font-size: .8rem;
    font-weight: bold;

}
.filter-box > section:nth-child(3n) > section > select {
    border: white solid 2px;
    justify-items: start;
    font-size: 1rem;
}

