.records-container {
    width: 1200px;
    height: 600px;
    overflow-y: auto;
    text-align: left;
    margin: 10px auto auto;
}
::-webkit-scrollbar {
    width: 0;
}

.box-bg{
    background-size: cover;
    background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Brand_0.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 15px;
}
.record-box {
    position: relative !important;
    display: inline-block;
    text-align: left;
    margin: 20px;
    width: 260px;
    border-radius: 15px;
    height: 120px;

}
.box-title{
    margin-top: 5px;
    font-weight: bolder !important;
    font-size: 14px;
}
.box-val{
    color: #00AB3A !important;
    font-size: 25px;
    margin-top: 5px;
    font-family: Arial !important;
    font-weight: bolder !important;
}

.record-box button{
    background: transparent;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    bottom: 45px;
    color: yellow;
}
.record-box div {
    user-select: none;

    font-family: HelvLight;
    font-style: normal;
    font-weight: normal;
    text-indent: 10px;

    color: white;
}