
.statistics {
    width: 100%;
    text-align: center;
}

.statistics > .header {
    margin: auto;
    width: 60%;
    position: relative;
    display: grid;
    background: black;
    z-index: -1;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    border: 2px solid white;
    padding: .2rem;
    text-align: center;
}


.statistics > .header .profile-bg {
    position: absolute;
    width: 100%;
    opacity: 0.5;
    background: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.statistics > .header > .left {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: end;
    text-align: start;

}

.statistics > .header > .left > div > section > div {
    width: 160%;
    margin: 0 .5rem;
    text-align: center;
    border: white 2px solid;
    height: fit-content;
    font-size: 1rem;
    position: relative;
}

.statistics > .header > .left .progress {
    position: absolute;
    width: 30%;
    height: 100%;
    z-index: -1;
    background: darkblue;
}

.statistics > .header > .left > div {
    display: grid;
    align-items: end;
}


.statistics > .header > .left > div img {
    padding: .5rem;
    width: 5rem;
}

.statistics > .header > .left > section label {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.statistics > .header > .left > section img {
    width: 2.5rem;

}


.statistics > .header > .left > section > section {
    display: grid;
    align-items: center;
    grid-gap: .5rem;
    justify-items: start;
    grid-template-columns: 1fr 4fr;
}

.statistics > .header > .left > section > section > div {
    font-size: 1.2rem;
}

.statistics > .header > .left > section > section > section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: start;
}

.statistics > .header > .mid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: .4rem;
    justify-content: center;
    align-items: start;
}

.statistics > .header > .mid > div:nth-child(2n) {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.statistics > .header > .mid > img {
    margin: auto;
    width: 9rem;
}

.statistics > .header > .mid div:nth-child(3n) {
    color: #00AB3A;
    font-size: 2.5rem;
}

.statistics > .header > .mid div:nth-child(4n) {
    font-size: 1.5rem;
}

.statistics > .header > .right {
    display: grid;
    align-content: end;
    justify-items: end;
    grid-template-columns: repeat(auto-fit, minmax(3rem, auto));
    grid-gap: .3rem;
}

.statistics > .header > .right > img {
    width: 3.5rem;
    border-radius: 50%;
    margin-bottom: .5rem;
}


.statistics > .header > .right div {
    background: darkblue;
}


.statistics .nav {
    width: 60%;
    text-align: center;
    display: grid;

    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    margin: .3rem auto;
}

.statistics .nav > div {
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
}



@media (max-width: 700px) {

    .statistics > .header {
        width: 90%;
        grid-template-columns: 0.7fr 1fr .3fr;

    }

    .statistics > .header > .mid > img {
        width: 8rem;
    }

    .statistics > .header > .mid div:nth-child(2n) {
        font-size: 1rem;
    }

    .statistics > .header > .mid div:nth-child(3n) {
        color: #00AB3A;
        font-size: 1.5rem;
    }

    .statistics > .header > .mid div:nth-child(4n) {
        font-size: 1rem;
    }

    .statistics > .header > .left > section > section > section {
        grid-template-columns: auto;
    }

    .statistics > .header > .left > section > section > section {
        display: inline-block;
    }

    .statistics > .header > .left > section > section {
        align-items: normal;
        grid-template-columns: auto;
    }

    .statistics > .header > .left > div > section > div {
        width: 90%;
        font-size: .8rem;
        text-align: center;
    }


    .statistics > .header > .left {
        grid-template-columns: auto;
    }

    .statistics > .header > .left > section label {
        font-size: 1rem;
        text-transform: uppercase;
    }


    .statistics > .header > .right > img {
        width: 3rem;
        margin-bottom: .5rem;
    }

    .statistics .nav {
        width: 90%;
    }

    .statistics .nav > div {
        font-size: 1rem;
    }


}




